<table class="table">
  <thead>
    <tr>
        {{#each header}}
        <th scope="col">{{COLUMN_NAME}}</th>      
    </tr>
  </thead>
  <tbody>
    <tr>
        {{#each header}}
        <th scope="col">{{COLUMN_NAME}}</th>      
    </tr>   
  </tbody>
</table>