<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title" id="bolilla">0</h2>
                    <h3 class="card-subtitle" id="orden">0</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
<script>
  const socket = io();
  const bolillaSorteo = document.getElementById('bolilla');
  const ordenSorteo = document.getElementById('orden');   
  socket.on("connect", () => {
  socket.emit('id:resultados', socket.id); // "G5p5..."
  });
  socket.on('db:resultados', (resultados) => {
    const {orden, bolilla} = resultados;
    console.log('Recibido: ', orden, bolilla);
    console.log(bolillaSorteo.innerText);
    console.log(ordenSorteo.innerText);
    bolillaSorteo.innerText = bolilla;
    ordenSorteo.innerText = orden;
  });
  
</script>