<div class="container p-4">
    <div class="row">
        {{#each bolilla}}
        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-body">                   
                    <h3 class="card-title text-uppercase">
                        {{name}}
                    </h3>                    
                    <p class="m-2">{{description}}</p> 
                </div>
            </div>
        </div>
        {{else}}
        <div class="col-md-4 mx-auto">
            <div class="card card-body text-center">
                <p>No hay sorteos</p>
                <a href="/api/carga">Carga bolillas</a> <!--Borrar--> 
            </div>
        </div>
        {{/each}}
    </div>
</div>